@import "tailwindcss";
@plugin "daisyui";

@keyframes float {
  0% {
    transform: translate(0px, 0px);
  }

  50% {
    transform: translate(30px, -30px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}